<header class="bg-light p-4 mb-4">
    <h1 class="display-5 fw-bold">{{data.project.title}} MCP</h1>
    <p class="lead">
        Galleries
    </p> 
</header>


<div class="container-fluid p-4">    
    {{!-- Main Controller Body --}}
    <div class="accordion accordion-flush" id="menu">    
        {{#each data.galleries}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#floor-{{@key}}" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Level {{@key}}</h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="floor-{{@key}}" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    {{#each this}}
                         <a class="btn btn-outline-secondary btn-lg d-flex p-3" href="/mcp/galleries/{{galleryid}}">{{gallerynumber}}: {{name}} ({{objectcount}} objects)</a>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>  
</div>
