<header class="bg-light p-4 mb-4">
    <h1 class="display-5 fw-bold">{{data.project.title}} MCP</h1>
    <p class="lead">
        Object Info
    </p> 
</header>

<div class="container-fluid">
    <header class="p-2">
        <h1>{{data.object.title}}</h1>
        <h2>Gallery {{data.object.gallery.gallerynumber}}, {{data.object.gallery.name}}</h2>
        <figure>
            <img src="{{data.object.images.[0].iiifbaseuri}}/full/150,/0/default.jpg">
            <figcaption>
                <a href="{{data.object.url}}">View Full Record</a><br>
                <a href="{{data.object.aiurl}}">View the AI Record</a>
            </figcaption>
        </figure>
        <div class="pb-3"> 
            {{data.object.labeltext}}
        </div>
        <div class="">
            <button type="button" class="btn btn-lg btn-primary p-4" id="game-start">Start Game</button>
            <button type="button" class="btn btn-lg btn-secondary p-4" id="game-end" disabled>End Game</button>
            <div class="mt-4" id="game-stats">
                
            </div>
        </div>
    </header>

    <hr>

    <div class="accordion accordion-flush" id="menu">    
        {{#if data.ai.features.region.text}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#regions-text-list" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Regions - Text <span class="badge bg-primary rounded-pill">{{data.ai.features.region.text.length}}</span></h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="regions-text-list" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    <ul class="list-group">
                    {{#each data.ai.features.region.text}}
                        <li class="list-group-item p-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="region-text-{{annotationid}}" data-body="{{{body}}}" data-snippet="{{snippetsmall}}">
                                <label class="form-check-label" for="region-text-{{annotationid}}"><img src="{{snippetsmall}}"> {{{body}}}, {{confidence}}, {{source}}</label>
                            </div>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if data.ai.features.region.face}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#regions-faces-list" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Regions - Faces <span class="badge bg-primary rounded-pill">{{data.ai.features.region.face.length}}</span></h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="regions-faces-list" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    <ul class="list-group">
                    {{#each data.ai.features.region.face}}
                        <li class="list-group-item p-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="region-face-{{annotationid}}" data-body="{{{body}}}" data-snippet="{{snippetsmall}}">
                                <label class="form-check-label" for="region-face-{{annotationid}}"><img src="{{snippetsmall}}"> {{{body}}}, {{confidence}}, {{source}}</label>
                            </div>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>            
        </div>
        {{/if}}

        {{#if data.ai.features.region.tag}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#regions-tags-list" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Regions - Tags <span class="badge bg-primary rounded-pill">{{data.ai.features.region.tag.length}}</span></h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="regions-tags-list" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    <ul class="list-group">
                    {{#each data.ai.features.region.tag}}
                        <li class="list-group-item p-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="region-tag-{{annotationid}}" data-body="{{{body}}}" data-snippet="{{snippetsmall}}">
                                <label class="form-check-label" for="region-tag-{{annotationid}}"><img src="{{snippetsmall}}"> {{{body}}}, {{confidence}}, {{source}}</label>
                            </div>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>            
        </div>
        {{/if}}
        
        {{#if data.ai.features.full.description}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#full-descriptions-list" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Descriptions <span class="badge bg-primary rounded-pill">{{data.ai.features.full.description.length}}</span></h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="full-descriptions-list" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    <ul class="list-group">
                    {{#each data.ai.features.full.description}}
                        <li class="list-group-item p-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="description-{{annotationid}}" data-body="{{{body}}}">
                                <label class="form-check-label" for="description-{{annotationid}}">{{{body}}}, {{confidence}}, {{source}}</label>
                            </div>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>            
        </div>
        {{/if}}

        {{#if data.ai.features.full.category}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#full-categories-list" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Categories <span class="badge bg-primary rounded-pill">{{data.ai.features.full.category.length}}</span></h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="full-categories-list" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    <ul class="list-group">
                    {{#each data.ai.features.full.category}}
                        <li class="list-group-item p-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="category-{{annotationid}}" data-body="{{{body}}}">
                                <label class="form-check-label" for="category-{{annotationid}}">{{{body}}}, {{confidence}}, {{source}}</label>
                            </div>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>            
        </div>
        {{/if}}

        {{#if data.ai.features.full.tag}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#full-tags-list" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Tags <span class="badge bg-primary rounded-pill">{{data.ai.features.full.tag.length}}</span></h2>
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="full-tags-list" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">
                    <ul class="list-group">
                    {{#each data.ai.features.full.tag}}
                        <li class="list-group-item p-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="tag-{{@key}}" data-body="{{{body}}}">
                                <label class="form-check-label" for="tag-{{@key}}"><strong>{{{body}}}</strong>, {{avgconfidence}}, {{source}} ({{tags.length}})</label>
                            </div>
                        </li>
                    {{/each}}                        
                    </ul>
                </div>
            </div>            
        </div>
        {{/if}}

    </div>
</div>



<script>
    let socket = io('/mcp');
    let startButton = document.getElementById('game-start');
    let endButton = document.getElementById('game-end');
    let gameStats = document.getElementById('game-stats');
    let object = {
        id: {{data.object.objectid}},
        title: '{{data.object.title}}',
        iiifbaseuri: '{{data.object.images.[0].iiifbaseuri}}',
        url: '{{data.object.url}}',
        aiurl: '{{data.object.aiurl}}'
    };
    let gallery = {
        number: {{data.gallery.gallerynumber}},
        name: '{{data.gallery.name}}',
        floor: {{data.gallery.floor}},
        objectcount: {{data.gallery.objectcount}}
    };

    document.addEventListener('DOMContentLoaded', (event) => {
        // ready to go
        startButton.onclick = startGame;
        endButton.onclick = endGame;

        document.querySelectorAll("input").forEach(e => {
            e.onclick = () => {
                updateGame(e.dataset);
            }
        });

        socket.on('start up', (game) => {
        });
    });

    function startGame(){
        startButton.disabled = true;
        endButton.disabled = false;

        socket.emit('start game', object, gallery);
    }
    
    function updateGame(dataset) {                
        let packet = {
            "body": dataset.body,
            "snippet": dataset.snippet
        };
        socket.emit('update game', packet);
    }

    function endGame() {
        endButton.disabled = true;
        startButton.disabled = false;

        document.querySelectorAll("input").forEach(e => {
            e.checked = false;
        });   

        socket.emit('end game', object);
    }
</script>